
body
/*Bakground all sides*/
{
  background-color:white;
}


header{
    border: 2px solid;
    border-color: rgb(146, 231, 111);
}

nav{

border: 2px solid;
border-color: rgb(146, 231, 111);
}

/*style float border list*/
.navul {
  list-style-type: none;

}

/*list float left*/
.linav{
  float: left;
  margin-left: 100px;
  margin-bottom: 10px;
}

.linav a:hover {background-color:rgb(146, 231, 111)}


.dropdown{
  position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgb(146, 231, 111);
  min-width: 210px;
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:white}



.sticky {
  position: fixed;
  width: 100%;
}

img{  display: block;
  width: 15vw;
  margin: 10px;

}

section{
margin: 10px;
border: 2px solid;
border-color: rgb(146, 231, 111);
}

h1{
  font-size: 40px;
  margin: 5px;
}

h2{
  font-size: 40px;
  margin: 5px;
}

aside{
border: 2px solid;
border-color: rgb(146, 231, 111);
margin: 10px;
}

.strumpor{
  margin-top: 10px;
}

.kettel{
  margin-top: 40px;
}

.ring{
  margin-top: 40px;
}

.eljo{
  margin-top: 400px;
}


footer{
border: 2px solid;
border-color: rgb(146, 231, 111);
}

.ulfoot{
    list-style-type: none;
    margin:0;
    padding:0;
}

.lifoot {
  display: block;
  margin-left: 10px;
  float: left;
}

.lifoot a {
  display: block;
  margin-left: 10px;
  float: left;
}

p{
  margin: 0;
}

h4{
  margin-top: 10px;
}

h5{
margin-bottom: 0;
font-size: 15px;
font-style: normal;
}

a{
  font-size: 15px;
font-style: normal;
text-decoration:underline;
color: black;
font-weight: bold;
}

@media only screen and (max-width: 800px){

.linav{
margin-left: 0 ;
float:left;
  }

  .kettel{
    margin-top: 0;
  }

  .strumpor{
    margin-top:0;
  }

.ring{
  margin-top:0;
}

.eljo{
  margin-top:0;
}

nav{
  border: none;
  background-color: black;
  text-decoration-color: white;
}

section{
  border: none;
}

aside{
  border: none;
}
}
